

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex justify-center my-4 p-4">
    <button onclick="location.reload();" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Actualiser
    </button>
  </div>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Titre
        </th>
        <th scope="col" class="px-6 py-3">
          Adresse
        </th>
        <th scope="col" class="px-6 py-3">
          Distance
        </th>
        <th scope="col" class="px-6 py-3">
          Type de contrat
        </th>
        <th scope="col" class="px-6 py-3">
          Postuler
        </th>
     </tr>
    </thead>
    <tbody>
      <% @annonces.each do |annonce| %>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= annonce.title %>
        </th>
      <td class="px-6 py-4">
        <%= annonce.fullAddress %>
      </td>
      <td class="px-6 py-4">
        <%= annonce.distance %>
      </td>
      <td class="px-6 py-4">
        <%= annonce.contractDescription %>
      </td>
      <td class="px-6 py-4">
        <%= link_to 'Postuler', annonce.url, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline", target: :_blank %>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
